@import "../../sass/variables.scss";
@font-face {
    font-family: 'MyFont';
    src:  url('../../sass/fonts/SevenOneEight-ExtraBold.ttf') format('ttf');
  }
.title{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: MyFont;
}
.header-title{
    @extend .title;
    color: $primaryColor;
    font-size: $largeSize;
}
.header-subtitle{
    @extend .title;
    color: $greyColor;
    font-weight: 300;
    font-size: $mediumSize;
    padding-bottom: 5px;
    position: relative;
}
.header-subtitle:before{
    content: "";
    position: absolute;
    width: 10%;
    height: 1px;
    bottom: 0;
    left: 45%;
    border-bottom: 2px solid black;
}

