@import "../../sass/variables.scss";

.footer-align{
    display: block;
    text-align: center;
}
.footer-label{
    background-color: $primaryColor;
    height: 50px;
    margin-left: 3%;
    margin-right: 3%;
}
.footer-sticky{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.lsit{
    margin-bottom: 10%;
}
.footer-button{
    background-color: $primaryColor;
    width: 20%;
    border: none;
    padding: 10px 21px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $smSize;
}
.footer_list {
    justify-content: center;
    margin: 0;
    padding-bottom: 2%;
  }

  .footer-list-num {
    width: 100%;
  }
  .fooer-number{
      font-size: 70px;
      color: $primaryColor;
      float: left;
      font-weight: bold;
      
  }
  .footer-test{
    font-size: $xsSize;
    float: left;
    padding-left: 2%;
    padding-top: 10%;
    text-transform: uppercase;
}

.footer-bottom{
    background-color: $backColor;
    height: 50px;
    margin-left: 3%;
}
.footer-title{
    @extend .footer-align;
    font-size: $xmSize;
    color: $fontColor;
}
.footer-title-bottom{
    @extend .footer-align;
    font-size: $smSize;
    color: $fontColor;
    text-transform: uppercase;
}
.footer-subtitle{
    @extend .footer-align;
    margin-top: -10px;
    font-size: $smSize;
    color: $fontColor;
}
.footer-subtitle-bottom{
    @extend .footer-align;
    margin-top: -10px;
    font-size: $smSize;
    text-transform: uppercase;
    color: $fontColor;
    position: relative;
    padding-bottom: 5px;
}
.footer-subtitle-bottom:before{
    content: "";
    position: absolute;
    width: 10%;
    height: 1px;
    bottom: 0;
    left: 45%;
    border-bottom: 2px solid $primaryColor;
}
.footer-subtitle >a{
    color: $fontColor;
    text-decoration: underline;
}