@import "../../sass/variables.scss";

.users_list {
    justify-content: center;
    margin: 0;
    padding-bottom: 2%;
  }

  .liste-destination{
    display: block;
    text-align: center;
  }
.destination-subtitle{
  @extend .liste-destination;
  text-transform: uppercase;
  font-size: $xmSize;
  width: 100%;
  height: 100%;
}
.dest {
  font-weight: bold;
  padding-bottom: 5px;
  position: relative;
}
.dest:before {
  content: "";
  position: absolute;
  width: 10%;
  height: 1px;
  bottom: 0;
  left: 45%;
  border-bottom: 2px solid $backColor;
}


.styled-select {
  width: 15%;
  height: 30px;
  border: none;

}

