@import "../../sass/variables.scss";

.label-font{
    color: $fontColor;
    text-transform: uppercase;
    font-size: $xsSize;
    padding: 2px;
}
.destination-place{
    font-size: $smSize;
}
.label-premium{
    @extend .label-font;
    background-color: $backColor;
    margin-right: 1%;
}
.label-option{
    @extend .label-font;
    background-color: $orangedColor;
    margin-left: 1%;
}
.slick-next, .slick-prev {
    margin-right: 12%;
    top: 0;
    margin-top: 80%;
}